<h1>Stupid Coaching</h1>

<div>
    <span><em>- You:  </em></span>
    <span><%= @question %></span>
</div>
<div>
    <span><em>- Your coach:  </em></span>
    <span><%= @answer %></span>
</div>

<div><%= link_to "Ask a new question", ask_path%></div>
