<h1>Stupic Coaching</h1>


<form action="/answer" method="get" data-turbo="false">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input type="text" class="form-control mb-2" name="question"
  value="<%= params[:question] %>"
  placeholder="type your question for the coach">
    </div>
  </div>
  <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </div>
</form>
